<IfModule mod_ssl.c>

<VirtualHost *:80>

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

</VirtualHost>

<VirtualHost _default_:443>

  ServerAdmin {{ zabbix_apache2_serveradmin }}
  ServerName {{ zabbix_apache2_servername }}

  DocumentRoot /usr/share/zabbix

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  SSLEngine on
  SSLCertificateFile {{ zabbix_apache2_sslcertificatefile }}
  SSLCertificateKeyFile {{ zabbix_apache2_sslcertificatekeyfile }}
  SSLCertificateChainFile {{ zabbix_apache2_sslcertificatechainfile }}

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
     SSLOptions +StdEnvVars
  </FilesMatch>

  <Directory /usr/lib/cgi-bin>
     SSLOptions +StdEnvVars
  </Directory>

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
     SSLOptions +StdEnvVars
  </FilesMatch>

  <Directory /usr/lib/cgi-bin>
     SSLOptions +StdEnvVars
  </Directory>

</VirtualHost>

</IfModule>
